<h1><%= @flat.name %></h1>
<ul>
  <li>Description: <%= @flat.description %></li>
  <li>Address: <%= @flat.address %></li>
  <li>Price per night: $<%= @flat.price_per_night %></li>
  <li>Number of guests: <%= @flat.number_of_guests %></li>
</ul>
